* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #282828; 
    font-family: "roboto", sans-serif;
    color: #f5f5f5; 
    margin-bottom: 60px;
  }
  
  h1 {
    font-size: 3.5em;
    color: #d9b3ff; 
  }
  
  h2 {
    font-size: 2.7em;
    color: #b37feb; 
  }
  
  h3 {
    font-size: 2em;
    color: #a76ef5; 
  }
  
  p {
    font-size: 1.25em;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    font-size: 1.25em;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f1f1f;
    z-index: 999;
  }
  
  header .container {
    display: flex;
    justify-content: center;
  }
  
  header nav {
    display: flex;
    padding: 1rem 0; /* Ajusta el espaciado vertical del nav */
  }
  
  header nav a {
    padding: 0 1rem; /* Ajusta el espaciado horizontal de los enlaces */
    text-decoration: none;
    font-weight: bold;
    color: #f5f5f5;
  }
  
  header nav a:hover {
    color: #d9b3ff;
  }
  
  button {
    padding: 0.6em 1em; 
    background-color: #b37feb;
    color: #f5f5f5;
    border: none;
    border-radius: 5px;
    font-size: 0.9em; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
 

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image: linear-gradient(
        0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)
    ),
    url("../imagenes/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/**About**/

.contabout {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    
  }
  
  .interior-slideshow {
    display: flex;
    transition: transform 0.5s ease;
    position: relative;
    overflow: hidden;
    flex-wrap: nowrap;
  }
  
  .imginterior {
    width: 50%;
    display: none;
  }
  
  .descabout {
    width: 50%;
    padding: 20px;
  }
  
  .botonizq,
  .botonder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .botonizq {
    left: 0;
  }
  
  .botonder {
    right: 0;
  }
  
  .botonizq:hover,
  .botonder:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .botonizq:focus,
  .botonder:focus {
    outline: none;
  }

/**Product**/

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out; /* Transición suave para el efecto hover */
  }
  
  .product-card:hover {
    transform: translateY(-10px); /* Efecto de elevación al hacer hover */
  }
  
  .product-image {
    background-color: #282828; 
    height: 200px;
    width: 350px;
    overflow: hidden;
    border-radius: 5px; 
  }
  
  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la relación de aspecto de la imagen */
  }
  
  #product a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #f5f5f5; 
  }
  
  #product a:hover {
    color: #d9b3ff; 
  }
  
  #remeras,
  #pantalones,
  #zapatillas {
    padding-top: 5vh;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #remeras .cardcont,
  #pantalones .cardcont,
  #zapatillas .cardcont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #remeras .product-card,
  #pantalones .product-card,
  #zapatillas .product-card {
    #remeras .product-card,
    #pantalones .product-card,
    #zapatillas .product-card {
      margin: 10px; /* Añade un margen entre las cards */
      flex-basis: calc(33.33% - 20px); /* Esto establece el ancho inicial de las cards */
      max-width: 350px; /* Limita el ancho máximo de las cards */
    }
}

#remeras .product-image,
#pantalones .product-image,
#zapatillas .product-image {
  background-color: #282828;
  overflow: hidden;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

/* Estilos del formulario de contacto */

.cont_contacto {
  display: flex;
  flex-wrap: wrap;
  max-width: 65%;
  border: 1px solid #a76ef5;
  margin: 0 auto;
  row-gap: 1em;
  column-gap: 0.5em;
  padding: 2em; 
  margin-bottom: 5em;
  border-radius: 10px; 
  background-color: #1f1f1f; 
  flex-direction: column; 
  align-items: center; 
}

h4 {
  text-align: center;
  width: 100%;
  margin-bottom: 1em; 
}

.sub_contacto {
  text-align: center;
  width: 100%;
  margin-bottom: 2em; 
  color: #d9b3ff;
}

.cont_contacto .form_contacto {
  width: 100%; 
  padding-right: 0; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.form_contacto label {
  display: block;
  margin-bottom: 0.5em;
  color: #f5f5f5; 
  text-align: center; 
}

.form_contacto input,
.form_contacto textarea {
  width: 100%; 
  padding: 0.5em; 
  border: 1px solid #a76ef5;
  border-radius: 5px;
  background-color: #282828;
  color: #f5f5f5;
  font-size: 0.9em; 
  margin-bottom: 1em;
  text-align: center; 
}

.form_contacto button {
  padding: 0.6em 1em; 
  background-color: #b37feb;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
  font-size: 0.9em; 
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cont_contacto .mapa {
  width: 100%; 
  padding-left: 0; 
  margin-bottom: 2em; 
  display: flex; 
  justify-content: center; /* Centrar horizontalmente */
}

/*footer */
footer {
  background-color: #1f1f1f;
  color: #f5f5f5;
  padding: 20px;
  text-align: center;
  position: absolute;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-media a {
  margin: 0 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
}